[Unit]
Description=cacis.service

[Service]
ExecStart=/home/ubuntu/cacis/main master --main
#ExecStart=/home/ubuntu/cacis/main slave
ExecStop=/bin/kill -SIGTERM $MAINPID
#Restart=always
WorkingDirectory=/home/ubuntu/cacis
Type=simple
User=root
TimeoutStopSec=15

[Install]
WantedBy = multi-user.target
