network:
    wifis:
       wlan0:
           dhcp4: true
           access-points:
               {{SSID}}:
                   hidden: true
                   password: {{PASSWORD}}
           nameservers:
             search: [local]
    version: 2
    renderer: networkd
